  <script src="js/latched-scroll.js" defer></script>
<div class="spacer"></div>
<div class="one">
<nav-dir></nav-dir>
  <div class="hello">
  <div class="container">
  	<div class="row">
  		<div class="col m12 l12" ng-show="!landingCtrl.contacting">
  			<h2>Hi! My name is Igor!</h2>
  			<p>I'm a passionate web developer!</p>
  			<p>Keeping it clean, scalable, and readable.</p>
  			<button class="btn waves-effect waves-light" ng-click="landingCtrl.contacting = true">
   				Contact me
 			 </button>
  		</div>
  		<div class="col m8 s8 l6 contact-me" ng-show="landingCtrl.contacting">
  	
    		<span class="come-back" ng-click="landingCtrl.contacting = false">back <i class="material-icons left">call_missed</i></span>	
  			
  			<form class="row">
  				<div class="input-field col s12">
  					  <input ng-model="landingCtrl.name" id="name" type="text" class="validate">
         			  <label for="name" data-error="wrong">Your name</label>
  				</div>
  				<div class="input-field col s12">
  					  <input ng-model="landingCtrl.email" id="email" type="email" class="validate">
         			  <label for="email" data-error="wrong">Email</label>
  				</div>
  				<div class="input-field col s12">
		          <textarea ng-model="landingCtrl.message" id="textarea1" class="materialize-textarea"></textarea>
		          <label for="textarea1" id="textarea1-label">Your message</label>
     		   </div>
     		  <div class="input-field col s12">
     		  	 <button class="btn waves-effect waves-light" ng-click="landingCtrl.sendEmail()" type="submit" name="action">Submit
   					<i class="material-icons right">send</i>
 				 </button>
     		  </div>
  			</form>
  		</div>
   	</div>
   </div>
  </div>
</div>
<div class="spacer"></div>
<div class="two">
   <div class="container">
   		<div class="row">
   			<div class="col m12 l12">
   				<h3>DEAR EMPLOYER!</h3>
   <p> 
	   I am a person that goes asleep thinking code and sees dreams about JavaScript and how I could make it better :) 

	   I am absolutely passionate about all modern web technologies, and <strong>JavaScript, Angular.JS, Node.JS, MongoDB, and PHP </strong>in particular. 	
   	</p>
   <p>
   		I love being a part of a team or working by myself and looking to participate in interesting projects :)
   </p>
	<p class="social">
		<a href="https://ca.linkedin.com/in/igor-romanenko-b259584a" target="_blank">
			<img src="imgs/linkedin.png" alt="lin">
		</a>
		<a href="https://github.com/pushnoy100500" target="_blank">
			<img src="imgs/github.png" alt="github">
		</a>
		<a href="https://plus.google.com/u/0/116241138959795210766/posts/p/pub" target="_blank">
			<img src="imgs/google.png" alt="google">
		</a>
	</p>
   			</div>
   		</div>
   </div>
</div>
<div class="spacer"></div>
<div class="three">
    <div class="container">
    	<h4>I USE:</h4>

   	<ul class="collection">
	    <li class="collection-item avatar">
	     <i class="material-icons green circle">done</i>
	     <p>
	      	Editors: <br>
	      	Sublime Text, Atom
	      </p>
	    </li>
	     <li class="collection-item avatar">
	     <i class="material-icons green circle">done</i>
	     <p>
	      	Technologies: <br>
	      	HTML, CSS, JavaScript, NODE.JS, PHP, MySql, MongoDB
	      </p>
	    </li>
	    <li class="collection-item avatar">
	     <i class="material-icons green circle">done</i>
	     <p>
	      	Frameworks: <br>
	      	Angular.JS, Express.JS, Bootstrap, MaterializeCSS
	      </p>
	    </li>
	     <li class="collection-item avatar">
	     <i class="material-icons green circle">done</i>
	     <p>
	      	Version control: <br>
	      	Git
	      </p>
	    </li>
  	</ul>
    </div>
</div>
<div style="clear: both"></div>