    <nav>
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo"></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a ui-sref="landing">Home</a></li>
        <li><a ui-sref="blog.listing">Blog</a></li>
        <li><a href="Resume2.0.pdf">Resume</a></li>
        <li><a ui-sref="projects">Projects</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a ui-sref="landing">Home</a></li>
        <li><a ui-sref="blog.listing">BLog</a></li>
        <li><a href="Resume2.0.pdf">Resume</a></li>
        <li><a ui-sref="projects">Projects</a></li>
      </ul>
    </div>
  </nav>
  <script>
  // initialize mobile navigation
 $(".button-collapse").sideNav();
  </script>