<nav-dir></nav-dir>
<div class="projects">
	<div class="container">
		<div class="row">
			<div class="col m12">
				<h4>My works</h4>
			</div>

			<div class="col m12 work">
				<h5><a href="http://hueme.ca">Hueme.ca </a></h5>
				<img src="" alt="">
				
				<img src="imgs/city.png" alt="">
				<p>
					This is my final project for Fanshawe college web development program. It's is a
					lightweight social network that asks it's members how was their day, and let's them
					share their experiences. It is built with PHP, Codeigniter, AngularJS, and MySql. 
				</p>
			</div>
			<div class="divider"></div>
			<div class="divider"></div>
			<div class="col m12 work">
				<h5><a href="http://squaddapp.com/">squaddapp.com </a></h5>
				<img src="" alt="">
				
				<img src="imgs/logo_v1.png" alt="">
				<p>
					I participated in Tackle Impossible Hackathon sponsored by Budweiser. To represent
our product I created this landing page to collect customers’ data and manage it.
This website is built with Node.js, Express, MongoDB, and Jade. It has a customer
sign up form, contact us form, and an admin panel on the background.  
				</p>
			</div>
		</div>
	</div>
</div>